body{
  margin: 0;
  padding: 0;
 
 
}

#root {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  
  

}
.roothome{
  background:#faf7f2;
}
 .redflag{
  background-color: rgb(206,40,40);
  width: 100vw;
  height: 20vh;
 
 }
 .redflag p {
  font-size: 50px;
 }
.wrap{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


.onay{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto condensed";
  color: rgb(255, 255, 255);
 
 
}
.onay p {
  margin:-10px 0;
  padding: 0;
}
.orumcek{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tepe{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  background-color:  rgb(206,40,40);
  align-items: center;
  justify-content: end;
  margin: 0 0 3vw 0;

}
.yaziPartial{
  display: flex;
  flex-direction: column;
  justify-self: center;
}
/* home */

.bosluk{
z-index: 0;
background: white;
}
.ikonlar{
  background-color: white;
  z-index: 0;
  display: flex;
 text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 5vw;
  margin: 2px 300px;
  

}

.ikonlar  img{
  width: 2vw;
  margin-right: 3px;
  cursor: pointer;
}
.ikonlar span{
  cursor: pointer;
}

/* ortapart */

.ortaPart{
vertical-align: middle;
width: 970px;
height: 500px;
 
  margin: 10vw auto 3vw;
  background: white;
  display: flex;
  align-items: center;
 
  }
 
  
  .solyanres{
    padding: 10px ;
    position: relative;
  }
  .solyanres img:first-child{
    width: 480px;
    height: 480px;
    border-radius: 10px;
    z-index: 0;
    position: relative;

  }
  .sagyanres{
   
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .ustres{
    margin: 10px;
    z-index: 0;
    position: relative;
    

  }
  .ustres img{
    width: 450px;
    height: 230px;
    border-radius: 10px;
    z-index: 0;
    position: relative;

  }
  .ustres h3{
    color: white;
    font-family: "Barlow";
    font-weight: 600;
    font-size: 28px;
  }
  .altres{
    margin: 10px;
    position: relative;
    z-index: 0;
   
  }
  .altres img {
    width: 450px;
    height: 230px;
    border-radius: 10px;
    z-index: 0;
    position: relative;

  }

  .toplayici{
    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .toplayici h1{
    color: white;
    font-family: "Quattrocento";
    font-weight: 700;
    font-size: 60px;
  }
  .toplayici p{
    color:white;
    font-family: "Barlow";
    font-weight: 600;
  }
  .anti{
    font-family: "Barlow";
    font-weight: 600;
    font-size: 28px;
  }
  .sipB {
    color: #ce2828;
    background: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: "Barlow";
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
  

    
  }
  .sipB:hover{
    border: 1px solid #c90505;
    background: #df6e6e; ;
  }



/* paketlenen kisim */

.satisfy{
  font-family: "satisfy";
  color: #ce2828;
}
.red{
  color: #d80127;
}
.icons h2{
  font-family: "Barlow";
    font-weight: 600;
    font-size: 36px;
}
.saydam{
  width: 100vw;
  height: 5vw;
  display: flex;
  justify-content: center;
}
.bot{
  display: flex;
  text-align: center;
  
  align-items: center;
  height: 5vw;
cursor: pointer;
  width: 940px;
  column-gap: 20px;
}
.bale{
  background-color: white;
  border-radius: 50px;
  height: 60px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 5px;
  

  
}
.bale p{
 
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0;

  
}
.bale img{
  width: 2vw;

}
.bale:hover{
  background: #000;
}
.ortu{
  width:970px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:5px auto;
  height: 620px;
  

}
.sunum{
  display: flex;
  justify-content: space-between;
 gap: 10px;
 flex-wrap: wrap;
  
}
.sunum img{
 width: 280px;
  margin: 10px;
  object-fit:fill;
  height: 220px;
}
.cardcik{
  background: white;
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  cursor: pointer;
  height: 300px;
  border-radius: 12px;
 background-color: rgb(255, 255, 255);
  
}

.kat{
  display: flex;
  flex-direction: column;
  align-items: baseline;
 
  width: 280px;

}
.kat h4{
  font-size: 18px;
  font-family: "Barlow";
  font-weight: 600;
}
.linex{
  display: flex;
  justify-content: space-between;
  
  width: 280px;
}
.linex p{
  font-family: "Barlow";
  font-weight: 600;
  font-size: 14px;
}
.linex h5{
  font-family: "Barlow";
  font-weight: 700;
  font-size: 18px;
}

/* foooter kismen */
.wholeDown {
margin-bottom: 0;
 width: 100vw;
 
}
.teknolojik{
  display: flex;
  
  width: 48%;
}

/* sol kisim */
.tumBina{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  
}
.tumBina h2{
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 44px;
  color: white;
  margin: 0;
  padding: 0;

  position: relative;
  left: 30px;
}

.altTabaka{
  display: flex;
  justify-content: center;
  
}
.altTabaka img{
width: 1.5vw;
height: 1.5vw;
position: relative;
left: 30px;
margin-right: 8px;

} 
.istanbul {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 34px;
  justify-content: baseline;
  align-items: baseline;
 
}
.istanbul p{
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.pasta{
  display: flex;
  position: relative;;
  top:30px;
}
.pasta img{
  width: 1.5vw;
  height: 1.5vw;
  position: relative;
  left: 60px;
}
.pasta p{
  margin: 0;
  padding: 0;
  position: relative;
  left: 70px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 14px;
  color: white;

}

/* order orta kisim */
.orta{
display:flex;
flex-direction: column;
margin:0 30px;
align-items: baseline;
width: 24vw;




}
.ates{
  display: flex;
  width: 24vw;
  justify-content: start;
  text-align: start;
  align-items: end;
}
.ortah4{
font-family: "Barlow";
font-size: 20px;
font-weight: 500;
color: white;
min-width:200px ;

position: relative;
top:60px;
left: 100px;


}
.textler{

display: flex;
flex-direction: column;
align-items: baseline;
color: white;
position: relative;
top: 75px;
row-gap: 5px;
left: 100px;
}
.textler p{
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  
}
/* order sag kisim */
.ins{
  color: white;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 500;
}
.ustSira{
display: flex;
justify-content: center;
gap:10px;
margin-bottom: 10px;
}
.altSira{
  display: flex;
  justify-content: center;
  gap:10px;

}
.parti{
  position: relative;
  left: 240px;
}
.biter{
  position: relative;
  right: 220px;
}
 /* order form sayfasi */

 .OredBan{
  height: 176px;
  width: 100vw;
  background-color: rgb(206,40,40);
  
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;

 }
 .OredBan img{
  height: 40px;
  width: 300px;
  
 }
 .ince {
  display: flex;
  height: 2rem;
  width: 450px;
  justify-content: baseline;
  align-items: end;
  position: relative;
  top: 30px;
  
  
  
 

 }
 /* .empty {
  height: 1rem;
  width: 100vw;
  border:1px solid rgb(198, 31, 159);
 } */


 .anasayfa{
color: white;
font-family: "Barlow";
font-size: 16px;
font-weight: 400;
text-align: center;
min-width: 70;
padding: 0;
margin: 0;
display: inline;

 }
.sipo{
color:white;
font-family: "Barlow";
font-size: 16px;
font-weight: 700;
margin: 0;
padding: 0;

display: inline;
min-width: 110px
}

/* form kismi */
.arkasari{
  width: 100vw;
  height: 600px;
  background-color: #faf7f2;
  z-index: -1;
}
.OformLong{
display: flex;
flex-direction: column;
width: 450px;
height: 600px;
justify-content: baseline;
text-align: start;
margin: 0 auto;


}
.absolute{
  display: flex;
  font-family: "Barlow";
  font-size: 22px;
  font-weight: 600;
  flex-direction: column;

margin-top: 10px;

}

.price-number{
  display:flex;
  justify-content: space-between;
  font-family: "Barlow";
  font-size: 28px;
  font-weight: 700;
  
  align-items: center;
   width: 450px;
}
.sessiz{
  display: flex;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  width: 150px;
  margin-right: 5px;
 
}
.acikla{
  font-family: "Barlow" ;
  font-size: 16px;
  font-weight: 400;
}
/* order orta alan kismi */

.ortaAlan{
  width: 450px;
  min-height: 600px;

  margin: 0 auto;
  
  
}
.ikili{
  display: flex;
 text-align: center;
  width: 450px;
  
  align-items: self-start;
  height: 100px;
  margin: 20px auto ;

}
.boyut{
display: flex;
flex-direction: column;

width: 225px;
justify-content: baseline;
text-align: start;
margin: 0;
align-items: baseline;


}
.boyut h3 {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 600;
}
.boy{
  display:flex;
  justify-content: space-between;
 text-align: center; 
 width: 160px;
 gap: 10px;
 margin-top: 10px;


}



/* .kuccuk{
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 150px;
  background-color: #faf7f2;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
 
 }
  */
  .kuccuk{
    background-color: #f9f7f1 !important;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  }
 .kuccuk:checked{
  background-color: #fbe6a8 !important;
  width: 30px;
  height: 30px;
 } 



.kuccuk:hover {
  background-color: #fbe6a8;
  border:3px solid rgb(23, 107, 79) ;
 border-radius: 50%;
 width: 30px;
 height: 30px;
  }

  




/* dropdown kismi */



.kalin{
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 600;
 display: flex;
 flex-direction: column;
 align-items: baseline;
 width: 225px;
 text-align:start;

}
.dropdown{
  width: 220px !important;
  background-color: #faf7f2 !important;
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
 
}


/* toppings kismi */

.ikmal{
display: flex;
flex-direction: column;
align-items: baseline;


}
.ikmal h2{
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 600;
}

/* 
.malzeme {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  gap: 10px;
 
  align-items: start;
  
} */
/* .Ekin{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: start;
  justify-content: baseline;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
} */


/*   
.tehlike{
  background-color: #c90505;
}
.checkmark{
  font-size: 16px;
  font-weight: 700;
  font-family: "Barlow";
  background: #fdc912;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 2px;
  position: relative;
  
}
.yellowtik{
  opacity: 0;
} */


/* 
siparis notu kismi */
.altKisim{
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  row-gap: 20px;
 
}

.sipNot{
  font-family: "Barlow" !important;
  font-size: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  width: 450px ;
  height: 120px;
  text-align: start;
  margin:10px 0;
 
  

  
}
.userIn{
  height: 80px;
  width: 450px;
padding: 1px;
border-bottom: 1px solid lightgray;
  
  
}
.siparisNotu{
  font-family: "Barlow" !important;
  font-size: 600 !important;
  font-size: 20px;
 
  height: 100px;
 
}
.notin{
  background-color: #faf7f2 !important;
  width: 450px !important;
  

  }

.yanYana{
    margin-top: 80px;
    height:600px;
    width:450px; 
   
    display: flex;
    
    
 }
.artiEksi{
height:60px;
width: 200px;

margin: 0px;

display: flex;
flex-wrap: nowrap;
flex-direction: column;
}
.about{
  width: 100%;
  display: flex;
  text-align: center;
 
}


.inline{
  display: inline !important;
}

.wrap{
background-color: #cd2828;
align-items: center;
height: 20vh;
display: flex;
flex-direction: column;
}
.lez{
  font-family: "Barlow";
  color:#fdc912;
  font-size: 20px;
  font-weight: 600;
}
.onay{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-family: "Barlow";
  font-size:26px ;
  font-weight: 400;
  width: 100vw;
  

}
.siparis-ekstre{
  background-color: #cd2828;
  height: 15vh;
}
.sipozet{
  background-color: #cd2828;
color: white;


}
.cerceve{
  border: 1px solid rgb(255, 255, 255);
  width: 450px;
  margin: 0 auto;
  height: 55vh;
  display: flex;
align-items: center;

}
.ekstresi{
  display: flex;
flex-direction: column;
  background-color: transparent;
  text-align: center;
align-items: center;
justify-content: center;
margin: 0 auto;
max-width:350px;


}
.boslluk{
  background-color: #cd2828;
  height: 5vh;
}
.whole{
  border: 1px solid lightgray;
  height: fit-content;
  border-radius: 6px;
}


 /* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */
